doctype 5
html(lang="en")
  head
    title js-compute
    link(type='text/css', rel='stylesheet', href='/css/bootstrap.min.css')
    link(type='text/css', rel='stylesheet', href='/css/solarized-dark.css')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/rainbow.min.js')
    script(type='text/javascript', src='/js/coffeescript.js')
    script(type='text/javascript', src='http://andrewbraunstein.com:3000/1/worker')
  body
    div.container
      h1 js-compute
      block content
