doctype 5
html(lang="en")
  head
    title js-compute
    link(type='text/css', rel='stylesheet', href='/css/bootstrap.min.css')
    script(type='text/javascript', src='/js/bootstrap.min.js')
  body
    div.container
      h1 js-compute
      block content
